*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#f7fbff;

color:#222;

}

.navbar{

background:#0A3D62;

}

.hero{

height:100vh;

background:linear-gradient(rgba(10,61,98,.8),rgba(10,61,98,.8)),
url("../images/hero.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

text-align:center;

color:white;

}

.hero h1{

font-size:4rem;

font-weight:700;

margin-bottom:20px;

}

.hero p{

font-size:1.3rem;

max-width:700px;

margin:auto;

margin-bottom:35px;

}

.btn-primary{

background:#19A7CE;

border:none;

padding:14px 36px;

border-radius:50px;

}

.features{

padding:80px 0;

}

.card{

padding:35px;

text-align:center;

border:none;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card i{

font-size:3rem;

color:#0A3D62;

margin-bottom:20px;

}

footer{

background:#0A3D62;

color:white;

text-align:center;

padding:30px;

margin-top:60px;

}
